<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div ng-repeat="post in vm.posts">
                <div class="post-preview">
                    <span class="glyphicon glyphicon-remove pull-right" ng-click="vm.deletePostById(post.Id)"></span>
                    <a ui-sref="detailPost({postId:post.Id})">
                        <h2 class="post-title">
                            {{post.Title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.Description}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{post.Users2.UserName}}</a> on {{post.PublishedDate}}</p>
                </div>
                
                <hr> 
            </div>            
            
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <button class="btn nextPage" ng-click="vm.nextPage()" ng-disabled="vm.totalSize < (vm.pageIndex + 1)">Older Posts &rarr;</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<hr>
