<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>Author: Harry Hu</p>
            <p>Github: <a href="https://github.com/SoftwareDreamer">Software Dreamer</a></p>
            <p>Email: <a href="mailto:hujiangtao1235@gmail.com">hujiangtao1235@gmail.com</a></p>
            <fieldset>
                <legend>Description</legend>
                <p>
                    Learn and Live.
                </p>
            </fieldset>
        </div>
    </div>
</div>